/* Botão Preto */
.btn-black {
    border-radius: 12px;
    padding: 10px 3vw;
    background-color: #1a1e26;
    color: #d9b70d;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-black:hover {
    background-color: #525150;
}

/* Comece a Investir */
#comeceInvestir {
    width: 90%;
    height: 50vw;
    background-image: url("../assets/image5.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#comeceInvestir h2 {
    font-size: 3.5vw;
    font-weight: bold;
    color: #000;
    margin-top: 3vw;
    margin-bottom: 10vw;
}

#comeceInvestir p {
    width: 40%;
    margin-bottom: 8vw;
    color: #d9b70d;
    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
    text-shadow: -0.5px -0.5px 0 #000,  
                0.5px -0.5px 0 #000,
                -0.5px 0.5px 0 #000,
                0.5px 0.5px 0 #000;
}

/* Benefícios */
#beneficios h2 {
    text-align: center;
    font-size: 3vw;
    padding: 1vw 10vw;
    margin-bottom: 3vw;
}

.beneficio {
    background-image: url("../assets/imagem1.png");
    background-size: cover;
    background-position: center bottom;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 5vw;
}

.beneficio div {
    background-color: rgba(217, 183, 13, 0.8);
    width: 30vw;
    margin: 1vw;
    border-radius: 12px;
    padding: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
    text-align: center;
}

.beneficio div h3 {
    color: #000;
    margin: 0;
    font-size: 1.2vw;
}

.beneficio div p {
    color: #1a1e26;
    font-size: 0.9vw;
}

.beneficio button {
    width: 30vw;
    padding: 1vw 2vw;
    font-size: 1vw;
    cursor: pointer;
}

/* Destaques */
#destaques h2 {
    color: #d9b70d;
    opacity: 0.9;
    font-size: 4vw;
    font-weight: bolder;
    margin: 2vw;
}

#containerDestaque {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    width: 100%;
}

.destaque {
    width: 95%;
    display: flex;
    background-color: #6e7371;
    border-radius: 12px;
    margin: 2vw;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}

.destaque img {
    width: 50%;
    padding: 2vw;
}

.destaque h3 {
    margin: 0 2vw;
    font-size: 1.8vw;
    font-weight: 400;
    color: #fff;
}

/* Tablets (até 1023px) */
@media screen and (max-width: 1023px) {
    .btn-black {
        padding: 8px 4vw;
        font-size: 1.2rem;
    }

    #comeceInvestir {
        height: 30vw;
    }

    #comeceInvestir h2 {
        font-size: 1.6rem;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }

    #comeceInvestir p {
        width: 60%;
        margin-right: 40%;
        margin-bottom: 4vw;
        font-size: 1.1rem;
        text-shadow: -0.3px -0.3px 0 #000,  
                    0.3px -0.3px 0 #000,
                    -0.3px 0.3px 0 #000,
                    0.3px 0.3px 0 #000;
    }

    #beneficios h2 {
        font-size: 1.5rem;
        padding: 1vw;
        margin-bottom: 1.5vw;
    }

    .beneficio {
        height: 20vw;
    }

    .beneficio div {
        width: 15vw;
    }

    .beneficio div h3 {
        font-size: 1rem;
    }

    .beneficio div p {
        font-size: 0.9rem;
        font-weight: 100;
    }

    .beneficio button {
        width: 50%;
        padding: 0.8vw 1vw;
        font-size: 0.9rem;
        margin: auto;
    }

    #destaques h2 {
        font-size: 2rem;
        margin: 1.5vw;
    }

    #containerDestaque {
        grid-template-columns: repeat(1, 1fr);
        gap: 1vw;
    }

    .destaque img {
        width: 40%;
        padding: 1.5vw;
    }

    .destaque h3 {
        font-size: 1.5rem;
    }
}

/* Telas Menores (até 767px) */
@media screen and (max-width: 767px) {
    .btn-black {
        padding: 8px 4vw;
        font-size: 0.8rem;
        border-radius: 8px;
    }

    #comeceInvestir {
        height: 30vw;
    }

    #comeceInvestir h2 {
        font-size: 1.6rem;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }

    #comeceInvestir p {
        width: 60%;
        margin-right: 40%;
        margin-bottom: 4vw;
        font-size: 0.8rem;
        text-shadow: -0.3px -0.3px 0 #000,  
                    0.3px -0.3px 0 #000,
                    -0.3px 0.3px 0 #000,
                    0.3px 0.3px 0 #000;
    }

    #beneficios h2 {
        font-size: 1.2rem;
        padding: 0.8vw;
        margin-bottom: 1.5vw;
    }

    .beneficio {
        height: 30vw;
    }

    .beneficio div {
        width: 10vw;
    }

    .beneficio div h3 {
        font-size: 0.8rem;
    }

    .beneficio div p {
        font-size: 0.5rem;
        font-weight: 100;
    }

    .beneficio button {
        width: 80%;
        padding: 0.8vw 2vw;
        font-size: 0.8rem;
        margin: auto;
    }

    #destaques h2 {
        font-size: 1.6rem;
        margin: 1.5vw;
    }

    #containerDestaque {
        grid-template-columns: repeat(1, 1fr);
        gap: 1vw;
    }

    .destaque img {
        width: 50%;
        padding: 1.5vw;
    }

    .destaque h3 {
        font-size: 1rem;
    }
}
