main{
    width: 100%;
}
.cadastro-login {
    display: flex;
    gap: 5%;
    justify-content: space-between;
}

article {
    width: 100%;
    background-color: #82857f;
    padding: 2vw;
    border-radius: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

form h2 {
    color: #D9B70D;
}

label {
    font-size: 1.2rem;
}
input{
    font-size: 1.2rem;
    height: 2rem;
    padding: .5rem;
}

.btn{
    width: 25vw;
    height: 5vw;
    margin: 3vw auto;
    border: none;
    border-radius: 6px;
    background-color: #5c6060;
    color:#000;
    font-size: 1.2rem;
    cursor:pointer;
    &:hover{
        color:#fff;
    }
}
/*----------Telas Medias------*/
@media screen and (max-width:1023px) {
    form h2{
        font-size: 1.8rem;
    }
    label {
        font-size: 0.8rem;
    }
    input{
        font-size: 0.8rem;
        height: 1.5rem;
    }
    .btn{
        width: 20vw;
        height: 4vw;
        margin: 3vw auto;
        border-radius: 4px;
        font-size: 0.8rem;
    }
}

/*--------Telas Menores-----------*/
@media screen and (max-width:767px) {
    .cadastro-login {
        flex-direction: column;
        padding: 0;
        gap:3vw;
        border:none;
    }
    article{
        padding: 3vw;
    }
    form{
        gap:2vw
    }
    form h2{
        font-size: 1.2rem;
    }
    .btn{
        width: 45vw;
        height: 8vw;
        margin: 3vw auto;
        border-radius: 4px;
        font-size: 0.8rem;
    }
}

/*------VALIDAÇÕES------*/
.correta {
    border: solid 1px green;
}
.erro{
    border: solid 1px darkred;
    color: darkred;
}
#nome-helper, #email-helper, #senha-cadastro-helper, #confirma-senha-helper, #confirma-login-helper{
    color: darkred;
}