main{
    width: 100%;
}

fieldset{
    border: none;
    margin:20px 0;
    font-size: 1.2rem;
    & legend{
        margin-bottom: 12px;
    }
    & label {
        margin-bottom: 8px;
    }
}

/* Aumentar o tamanho e mudar a cor dos botões de rádio */
input[type="radio"] {
    margin-right: 10px;
    width: 20px;   /* Ajuste da largura */
    height: 20px;  /* Ajuste da altura */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #D9B70D; /* Cor da borda */
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="radio"]::before {
    content: '';
    display: block;
    width: 60%; /*tamanho do preenchimento*/
    height: 60%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
}

input[type="radio"]:checked::before {
    background-color: #D9B70D; /* Cor da bolinha selecionada */
}

/*estilização do botão*/
.btn-cinza{
    background-color: #6e7371;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-left: 40%;
    -webkit-box-shadow: -1px 2px 19px 4px rgba(255,255,255,0.2);
    -moz-box-shadow: -1px 2px 19px 4px rgba(255,255,255,0.2);
    box-shadow: -1px 2px 19px 4px rgba(255,255,255,0.2);
    &:hover{
        color: black;
        background-color: #D9B70D;
    }
}

#resultado{
    color:#D9B70D;
    font-weight: 900;
}

/*----------Telas medias---------*/
@media screen and(max-width: 1023px) {
    fieldset{
        font-size: 1rem;
    } 
    
    input[type="radio"] {
        margin-right: 10px;
        width: 17px;
        height: 17px;
    }
    
    /*estilização do botão*/
    .btn-cinza{
        width: 30%;
        margin-left: 35%;
    }
    
    #resultado{
        font-weight: 800;
    }
    
}


/*----------Telas medias---------*/
@media screen and (max-width: 1023px) {
    fieldset{
        font-size: 1rem;
        
    }
    
    input[type="radio"] {
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }
    
    .btn-cinza{
        width: 50%;
        margin-left: 25%;
    }
    
    #resultado{
        font-weight: 800;
    }
}

/*------------Telas Menores---------*/
@media screen and (max-width: 767px) {
    fieldset{
        font-size: 0.8rem;  
    }
    input[type="radio"] {
        margin-right: 10px;
        width: 12px;
        height: 12px;
        border: 1px solid #D9B70D;
    }
    .btn-cinza{
        width: 50%;
        margin-left: 25%;
        font-size: 0.8rem;
    }
    
}